{% extends 'main.html' %}
{% block content %}
  
<main class="create-room layout">
    <div class="container">
      {% include 'base/topics_component.html' %}
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
                    <a href="{% url 'quanlidotuoi' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Cập nhật độ tuổi</h3>
                </div>
            </div>
            <div class="layout__body">
                <form  method="POST" action="" class="form">
                    {% csrf_token %}
                        {% for field in form  %}
                            {% if field == form.year %}
                                <div class="form__group">
                                    <label>Năm:</label>
                                    {{form.year}}
                                    
                                </div>
                                <br>
                            {% elif field == form.min_age %}
                                <div class="form__group">
                                    <label>Tuổi tối thiểu:</label>
                                    {{form.min_age}}
                                </div>
                                <br>
                            {% elif field == form.max_age %}
                                <div class="form__group">
                                    <label>Tuổi tối đa:</label>
                                    {{form.max_age}}
                                </div>
                                <br>
                            {% else %}
                                <div class="disable">
                                    {{field}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="form__action" style="text-align:center">
                                <button type="submit" onclick="return confirm('Xác nhận cập nhật tuổi ?')" class="btn btn--main" >
                                    <label>Cập nhật</label>  
                        </div>
                </form>
            </div>
        </div>
    </div>
   </main>
{% endblock content %}