<style>
    .table {
    border:1px solid rgb(148, 148, 148);
    width:100%;
    border-collapse: collapse;
    }

    h1.label{
        font-weight: 700;
        font-size: 2em;
        color: var(--color-light);
        text-align: center;
        text-transform:uppercase;
    }

    .roomList {
        width:60%;
    }

    tr {
        height:45px;
        border-bottom:1px solid rgb(148, 148, 148);
        position: relative;
    }

    th, td {
        text-align: center;
    }

    .btn {
        margin: 10px;
        background-color: var(--color-main);
        color: var(--color-dark);
    }

    .row {
        display: flex;
        justify-content: flex-end;
        margin: 10px 0px;
    }

    .modifyBtn {
        background-color: #1890FF;
        margin: auto;
        padding: 10px;
        border-radius: 20px;
        border: none;
        margin-right: 10%;
    }
    .modifyBtn:hover{
        background-color: #40A9FF;
    }

    .deleteBtn {
        background-color: #FF4D4F;
        padding: 10px;
        border-radius: 20px;
        border: none;
        margin: auto;
    }
    .deleteBtn:hover{
        background-color: #FF7875;
    }

    i {
        color: whitesmoke;
        font-size: 20px;
    }

    .form-popup {
    display: auto;
    justify-content: center;
    }

    .delete_container {
        display: flex;
        flex-wrap: wrap;
        padding: 25px 50px;
    }
    .delete_container > div {
        flex: 50%
    }
    .delete_table_header {
        text-align: left; 
        padding-left: 50px; 
        width: 50%;
        font-weight: bold;
    }
</style>

{% extends 'main.html' %}   

{% block content %}

<main class="layout"> 
    <div class="container">
        {% include 'base/topics_component.html' %}
        <div class = "roomList">
            <h1 class="label">Quản lý lớp học</h3>
            <div>
                <div class="row">
                    <button class="btn btn-outline-primary col-lg-11 btn--main" onclick="addClassForm();" disabled>Thêm lớp</button>
                </div>
                <table id="table" class="table table-sm" style="pointer-events: none;">
                    <tr>
                        <th style="width:10%">STT</th>
                        <th style="width:30%">Tên lớp</th>
                        <th style="width:30%">Sĩ số tối đa</th>
                        <th style="width:30%">Điều chỉnh</th>
                    </tr>
                    {% for x in classList %}
                    <tr>
                        <td>{{ x.id }}</td>
                        <td>{{ x.TENLOP }}</td>
                        <td>{{ x.SISO }}</td>
                        <td> 
                            <button class="modifyBtn"> <i class="fa fa-edit"> </i> </button>
                            <button class="deleteBtn"> <i class="fa fa-trash"> </i> </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
        </div>
        <div> </div> <!-- Ho tro can chinh flex--> 
    </div>
    
    <div class="layout__box form-popup">
        <div class="layout__boxHeader" style="justify-content: center;">
            <div class="layout__boxTitle">
                <h3>Xoá lớp học</h3>
            </div>
        </div>
        <div class="layout__body" style="display: flex; justify-content: center; flex-direction: column;"> 
            <div style="text-align: center; font-size: 1.5em;">Bạn có chắc muốn xoá lớp:</div>
            <div class="delete_container">
                <table class="table">
                    {% for x in classRoom %}
                    <tr>
                        <td class="delete_table_header">STT:</td>
                        <td>{{ x.id }}</td>
                    </tr>
                    <tr>
                        <td class="delete_table_header">Tên lớp:</td> 
                        <td>{{ x.TENLOP }}</td>
                    </tr>
                    <tr>
                        <td class="delete_table_header">Sĩ số tối đa:</td> 
                        <td>{{ x.SISO }}</td>
                    </tr>
                    <tr>
                        <td class="delete_table_header">Niên khoá:</td> 
                        <td>{{ x.NIENKHOA }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div style="display: flex; justify-content: center;">
                <form action="" method="post">
                    {% csrf_token %}
                    <a class="btn btn--dark" href="/class_setting/">Huỷ</a>
                    <button class="btn btn--main" style="background-color:#FF4D4F !important;" type="submit">Xoá</button>
                </form>
            </div>
        </div>
    </div> 

</main>

{% endblock content %}