<style>
    .table {
    border:1px solid rgb(148, 148, 148);
    width:100%;
    border-collapse: collapse;
    }

    h1.label{
        font-weight: 700;
        font-size: 2em;
        color: var(--color-light);
        text-align: center;
        text-transform:uppercase;
    }

    .roomList {
        width:60%;
    }

    tr {
        height:45px;
        border-bottom:1px solid rgb(148, 148, 148);
        position: relative;
    }

    th, td {
        text-align: center;
    }

    .btn {
        margin: 10px;
        background-color: var(--color-main);
        color: var(--color-dark);
    }

    .row {
        display: flex;
        justify-content: flex-end;
        margin: 10px 0px;
    }

    .modifyBtn {
        background-color: #1890FF;
        margin: auto;
        padding: 10px;
        border-radius: 20px;
        border: none;
        margin-right: 10%;
    }
    .modifyBtn:hover{
        background-color: #40A9FF;
    }

    .deleteBtn {
        background-color: #FF4D4F;
        padding: 10px;
        border-radius: 20px;
        border: none;
        margin: auto;
    }
    .deleteBtn:hover{
        background-color: #FF7875;
    }

    i {
        color: whitesmoke;
        font-size: 20px;
    }

    .form-popup {
    display: none;
    justify-content: center;
    }

    .delete_container {
        display: flex;
        flex-wrap: wrap;
        padding: 25px 50px;
    }
    .delete_container > div {
        flex: 50%
    }
    .delete_table_header {
        text-align: left; 
        padding-left: 50px; 
        width: 50%;
        font-weight: bold;
    }
</style>

{% extends 'main.html' %}   

{% block content %}

<main class="layout"> 
    <div class="container">
        {% include 'base/topics_component.html' %}
        <div class = "roomList">
            <h1 class="label">Quản lý lớp học</h3>
            <div>
                <div class="row">
                    <button id="addClass" class="btn btn-outline-primary col-lg-11 btn--main" onclick="addClassForm();">Thêm lớp</button>
                </div>
                <table id="table" class="table table-sm">
                    <tr>
                        <th style="width:10%">STT</th>
                        <th style="width:30%">Tên lớp</th>
                        <th style="width:30%">Sĩ số tối đa</th>
                        <th style="width:30%">Điều chỉnh</th>
                    </tr>
                    {% for x in classInfo %}
                    <tr>
                        <td>{{ x.id }}</td>
                        <td>{{ x.TENLOP }}</td>
                        <td>{{ x.SISO }}</td>
                        <td> 
                            <a class="modifyBtn" href="{% url 'class_setting_update' x.id %}"><i class="fa fa-edit"> </i> </a>
                            <a class="deleteBtn" href="{% url 'class_setting_delete' x.id %}"><i class="fa fa-trash"> </i> </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
        </div>
        <div> </div> <!-- Ho tro can chinh flex--> 
    </div>

    <!-- Add Class Pop Up -->
    <div class="layout__box form-popup " id="addClassForm">
        <div class="layout__boxHeader" style="justify-content: center;">
            <div class="layout__boxTitle">
                <h3>Thêm lớp học</h3>
            </div>
        </div>
        <div class="layout__body">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div class="form__group">
                    <label for="tenlop">Tên lớp</label>
                    {{form.TENLOP}}
                </div>
                <div class="form__group">
                    <label for="siso">Sĩ số tối đa</label>
                    {{form.SISO}}
                </div>
                <div class="form__group">
                    <label for="nienkhoa">Niên khoá</label>
                    {{form.NIENKHOA}}
                </div>
                <div class="form__action">
                    <button type="button" class="btn btn--dark" onclick="closeAddClassForm()">Huỷ</button>
                    <button class="btn btn--main" type="submit">Thêm</button>
                </div>
            </form>
        </div>
    </div>


</main>

<script>
    function addClassForm() {
        document.getElementById("addClassForm").style.display = "block";
        document.getElementById("table").style.pointerEvents = "none";
    }

    function closeAddClassForm() {
        document.getElementById("addClassForm").style.display = "none";
        document.getElementById("table").style.pointerEvents = "auto";
    }
</script>
{% endblock content %}