{% extends 'main.html' %}
{% block content %}
<main class="create-room layout">
    <div class="container">
            {% include 'base/topics_component.html' %}
            <div class = 'layout__box'>
                <div class = 'layout__boxHeader'>
                    <div class="layout__boxTitle">
                        <a href="{% url 'home' %}">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                              d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                          </svg>
                        </a>
                        <h3>Trở về</h3>
                      </div>
                </div>
                <div class = 'layout__body'>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        
                        <div class="form_group">
                        <label for="lop">Lớp</label>           
                         <select name="lop" id="lop">
                            {% for lophoc in lop %}
                               <option value="{{lophoc}}">{{lophoc.TENLOP}}</option>
                            {%endfor%}
                         </select>
                         </div>

                       <!--  <div class="form__group" style = "width: 25%">
                            <label >Lớp</label>
                            <input required type="text"  name="Lớp" list="topic-list" />
                            <datalist id="topic-list">
                              <select id="room_topic">
                                {% for lophoc in lop %}
                                <option value="{{lophoc.TENLOP}}">{{lophoc.TENLOP}}</option>
                                {% endfor %}
                              </select>
                            </datalist>
                          </div>-->

                                
                        <div class="threads scroll" style="max-height: 32rem">
                        <table class="center" style="width: 100%">
                            <tr>
                                <th>STT</th>
                                <th>Họ tên</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Email</th>
                                <th>lựa chọn</th>
                            </tr>
                                {% for hs in students  %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{hs.HOTEN}}</td>
                                    <td>{{hs.NGAYSINH}}</td>
                                    {%if hs.GIOITINH == 'M' %}
                                        <td>Nam</td>
                                    {%else%}
                                        <td>Nữ</td>
                                    {%endif%}
                                    <td>{{hs.EMAIL}}</td>
                                    <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value='{{hs.HOTEN}}'id ="{{ hs.HOTEN }}" name="HOTEN">
                                        <label class="form-check-label" for="{{ hs.HOTEN }}">chọn</label>
                                    </div>
                                </tr>
                                {% endfor %}
                            
                        </table>
                        </div>

                        <div class="form__action">
                            <button type="submit" class="btn btn--main" style="width: 25%;">
                                Thêm học sinh
                            </button>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </main>
   
{% endblock content %}