{% extends 'main.html' %}
{% block content %}
    <main class = 'auth layout'>
        <div class = 'container'>
            {% include 'base/topics_component.html' %}
            <div class = 'layout__box'>
                <div class = 'layout__boxHeader'>

                    <div class = 'layout__boxTitle'>
                        <h3>Lập danh sách lớp</h3>
                    </div>
                </div>
                <div class = 'layout__body'>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        
                        <label>Lớp</label>           
                         <select name="lop" id="lop">
                            {% for lop in lophoc %}
                               <option value="{{lop}}">lop</option>
                            {%endfor%}
                         </select>
                                
                        <div class="threads scroll">
                        <table class="center" style="width: 100%">
                            <tr>
                                <th>STT</th>
                                <th>Họ tên</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Email</th>
                                <th>lựa chọn</th>
                            </tr>
                                {% for hs in students  %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{hs.HOTEN}}</td>
                                    <td>{{hs.NGAYSINH}}</td>
                                    {%if hs.GIOITINH == 'M' %}
                                        <td>Nam</td>
                                    {%else%}
                                        <td>Nữ</td>
                                    {%endif%}
                                    <td>{{hs.EMAIL}}</td>
                                    <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value='{{hs.HOTEN}}'id ="{{ hs.HOTEN }}" name="TENLOP">
                                        <label class="form-check-label" for="{{ hs.HOTEN }}">chọn</label>
                                    </div>
                                </tr>
                                {% endfor %}
                            
                        </table>
                        </div>

                        <div class="form__group">
                            <button type="submit" class="btn btn--main" style="width: 25%;">
                                Thêm học sinh
                            </button>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </main>
   
{% endblock content %}