{% extends 'main.html' %}

{% block content %}
    <main class = 'auth layout'>
        <div class = 'container'>
            {% include 'base/topics_component.html' %}
                <div class= 'layout__box'>
                    <div class= 'layout__boxHeader'>
                        <div class = 'layout__boxTitle'>
                            <h3>Niên khóa</h3>
                        </div>
                    </div>
                    <div class = 'layout__body'>
                        <div class="threads scroll">
                        <table class="table table-sm" style="width: 100%">
                            <tr>
                                <th>STT</th>
                                <th>Niên khóa</th>
                                <th>Lựa chọn</th>
                            </tr>
                            {% for i in age %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{i.year}}</td>
                                    <td>
                                        <a href="{% url 'lapDSlop' i.id %}" class="btn btn--main">Chọn</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        </div>
                    </div>
                </div>
        </div>
    </main>
{% endblock content %}