{% extends 'main.html' %}   

{% block content %}

  <main class="create-room layout">
    <div class="container">
      {% include 'base/topics_component.html' %}
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <a href="{% url 'home' %}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
              </svg>
            </a>
            <h3>Trở về</h3>
          </div>
        </div>
        <div class="layout__body">
          <form class="form" action="" method="POST">
            {% csrf_token %}

            <!--Họ tên-->
              <div class="form__group">
                <label for="hoten">Tên học sinh</label>
                {{form.HOTEN}}
              </div>
              <!--Email-->
              <div class="form__group">
                <label for="email">Email</label>
                {{form.EMAIL}}
              </div>


               <!--Giới tính-->
                <div class="">
                  <label for="gioi tinh">Giới tính:</label>
                  <table>
                    <tbody>
                    <tr>
                      <td><input  type="radio" name="GIOITINH" id="male" value="M" checked></td>
                      <td> Male </td>
                      <td><input type="radio" name="GIOITINH"  value="F"></td>
                      <td>Female</td>
                    </tr>
                  </tbody>
                  </table>
                </div>
                
               
                <!--Ngày Sinh-->
                <div class="form__group">
                  <table>
                    <tbody>
                    <tr>
                      <td><label for="ngaysinh">Ngày sinh &nbsp&nbsp&nbsp</label></td>
                      <td><input type="date" name="NGAYSINH" value="2017-06-01" /></td>
                    </tr>
                  </tbody>
                  </table>
                </div>
             
              <div class="form__action">
                <a class="btn btn--dark" href="index.html">Cancel</a>
                <button class="btn btn--main" type="submit">Thêm</button>
              </div>
            </form>
        
        </div>
      </div>
    </div>
  </main>
{% endblock content %}