{% extends 'main.html' %}

{% block content %}

<main class = "create-room layout">
    <div class="container">
        {% include 'base/topics_component.html' %}
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                  <a href="{% url 'home' %}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                      <title>arrow-left</title>
                      <path
                        d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                      </path>
                    </svg>
                  </a>
                  <h3>Trở về</h3>
                </div>
              </div>
    <div class="layout__body">
        <h3>Báo cáo tổng học kì</h3>
        <form action="" method="POST">
            <table>
            {% csrf_token %}
            <tr>
                <th>
                <div class="form__group">
                <input type="text" id="class" name="class" placeholder="Lớp">
                </div>
                </th>
                <th>
                <div class="form__group">
                <input type="int" id="semester" name="semester" placeholder="Học kỳ">
                </div>
                </th>
                <th>
                <div class="form__group">
                <input type="submit" value="Tra cứu">
                </div>
                 </th>
            </tr>
            </table>
            
            <div class="threads scroll">
            {% if message is None %}
            <table style="width: 100%">
                <tr>
                    <th>STT</th>
                    <th>Môn học</th>
                    <th>Tỉ lệ đạt</th>
                </tr>
                {% for out in output %}            
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{out.subject}}</td>
                    <td>{{out.dat}}%</td>  
                </tr>
                {% endfor %}

            </table>
            </div>
            {% else %}
            <p>Error: {{message}}</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}
